<!DOCTYPE html>
<html>
<head>
  <title>Romeo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Kotta+One' rel='stylesheet' type='text/css'>
</head>
<body>
  <header id="nav_header">
    <h1 id="play_name"> romeo and juliet </h1>
    <nav id="main_navigation">
      <ul>
        <li>home</li>
        <li>act 2</li>
        <li>act 3</li> 
        <li>act 4</li> 
        <li>act 5</li> 
      </ul>
    </nav>
    <div id="social_nav">
      <%# -- Twitter Follow Tag %>
      <%= link_to(image_tag('social/twitter_icon.png'), "http://twitter.com/bethtabler")%>
      <%# -- Facebook Follow Tag %>
      <%= link_to(image_tag('social/Facebook.png'), "https://www.facebook.com/elizabeth.tabler")%>
    </div>
  </header>  
  <body>
    <article>
      <section id="main_head">
        <h1 id="intro_h1">romeo and juliet</h1>
          <cite>by william shakespeare</cite>
          <!-- <img id="romeo_juliet.png" alt="Romeo and Juliet">  -->
      </section>
    <article>
      
</body>
</html>
